@import './base.css';
html,
body {
  overflow-x: hidden;
}
html,
body,
#app {
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
}
#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}
